<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SVR_UBICACION</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SVR_MATERIAPRIMA</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SVR_PRODUCTOTERMINADO</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SVR_ENTRADAMATERIAPRIMA</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SRV_DETALLESALIDAPRODTERM</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVR_UBICACION</servlet-name>
        <url-pattern>/SVR_UBICACION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVR_MATERIAPRIMA</servlet-name>
        <url-pattern>/SVR_MATERIAPRIMA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVR_PRODUCTOTERMINADO</servlet-name>
        <url-pattern>/SVR_PRODUCTOTERMINADO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVR_ENTRADAMATERIAPRIMA</servlet-name>
        <url-pattern>/SVR_ENTRADAMATERIAPRIMA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRV_DETALLESALIDAPRODTERM</servlet-name>
        <url-pattern>/SRV_DETALLESALIDAPRODTERM</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
